@import "src/App";
.btn {
  &:hover {
    background: $blue-color;
  }
  cursor: pointer;
  padding: 11px 20px;
  border: none;
  border-radius: 10px;
  font-weight: 700;
  font-size: 18px;
  color: $secondary-color;
  margin: 10px 10px 10px 20px;
}
