* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
// Variables //
$primary-color: indianred;
$secondary-color: white;
$blue-color: steelblue;
// Variables //
.app__container {
  margin-inline: auto;
  max-width: 1160px;
  padding: 100px 50px;
  position: relative;
  width: 100%;
  height: 100vh;
  .btn__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
}
